@use "src/assets/css/auth.scss";
.box {
  height: 41.25rem;
  width: 25.75rem;
}
.error {
  margin-left: 2.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 0;
  border-bottom: 2px solid #9da3a5;
  font: 500 0.9rem "Work Sans", sans-serif, sans-serif;
  height: 2.15em;
  margin-top: 0.7em;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  width: 80%;
}
select:focus {
    border-bottom: 2px solid #6e59c2;
    outline: none;
  }
  