.card{
    border:0 !important;
}
:host ::ng-deep .ag-theme-balham {
  font-family: "Poppins", sans-serif !important;
}
:host ::ng-deep .ag-body-horizontal-scroll-viewport {
  overflow-x: scroll;
}

:host ::ng-deep .ag-theme-balham .ag-filter-toolpanel-header,
:host ::ng-deep .ag-theme-balham .ag-filter-toolpanel-search,
:host ::ng-deep .ag-theme-balham .ag-header-row,
:host ::ng-deep .ag-theme-balham .ag-multi-filter-group-title-bar,
:host ::ng-deep .ag-theme-balham .ag-status-bar {
  font-weight: 400;
}

.ag-theme-balham [class^="ag-"],
.ag-theme-balham [class^="ag-"]:after,
.ag-theme-balham [class^="ag-"]:before,
.ag-theme-balham [class^="ag-"]:focus {
  box-sizing: border-box;
  outline: none;
  border: 0 !important;
}

:host ::ng-deep .ag-theme-balham {
  & .ag-root-wrapper {
    border:none!important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
   
  }
  font-family: "Poppins", sans-serif !important;
  height: calc(100vh - 7.5rem) !important;
}
:host ::ng-deep .ag-body-horizontal-scroll-viewport {
  overflow-x: scroll;
}

:host ::ng-deep .ag-theme-balham .ag-filter-toolpanel-header,
:host ::ng-deep .ag-theme-balham .ag-filter-toolpanel-search,
:host ::ng-deep .ag-theme-balham .ag-header-row,
:host ::ng-deep .ag-theme-balham .ag-multi-filter-group-title-bar,
:host ::ng-deep .ag-theme-balham .ag-status-bar {
  font-weight: 400;
}

:host
  ::ng-deep
  .ag-row-even.ag-row.ag-row-pinned.ag-row-level-0.ag-row-position-absolute.ag-row-first.ag-row {
  background: #fcecd1;
  font-size: 13px;
  line-height: 2.2rem;
}

:host
  ::ng-deep
  .ag-row-even.ag-row.ag-row-pinned.ag-row-level-0.ag-row-position-absolute.ag-row-first.ag-row.ag-row
  .ag-cell.ag-cell-not-inline-editing.ag-cell-normal-height.ag-cell-value.ag-cell {
  border: 0 !important;
  font-weight: 500;
}

:host ::ng-deep .ag-grid-angular.ag-theme-balham {
  height: 450px !important;
}

::ng-deep .ag-theme-balham .ag-header {
  background-color: #6e59c2;
  background-color: #6e59c2;
  border-bottom: 1px solid;
  border-bottom-color: #edecfc;
  border-bottom-color: #edecfc;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

:host ::ng-deep .ag-row-even {
  font-size: 13px;
  line-height: 2.2rem;
}

:host ::ng-deep .ag-theme-balham .ag-ltr .ag-cell {
  border-right: 1px solid #d3d1ef;
}

::ng-deep .ag-theme-balham .ag-row-odd {
  background-color: #eeeefb;
  background-color: #eeeefb;
  font-size: 13px;
  line-height: 2.2rem;
  font-weight: 400;
}

::ng-deep .ag-theme-balham .ag-icon-menu:before {
  content: "\f11d";
  color: #efeefb;
  font-size: 13px !important;
  line-height: 19px !important;
  line-height: 2.2rem !important;

}

::ng-deep .ag-theme-balham .ag-header-row {
  color: #fff;
  color: var(
    --ag-header-foreground-color,
    var(--ag-secondary-foreground-color, white)
  );
  height: 36px;
}

::ng-deep .ag-theme-balham .ag-header-cell:after,
::ng-deep .ag-theme-balham .ag-header-group-cell:after {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 1px;
  height: 100%;
  top: 0%;
  background-color: hsla(204, 8%, 76%, 0.5);
  background-color: var(
    --ag-header-column-separator-color,
    hsla(204, 8%, 76%, 0.5)
  );
}

:host ::ng-deep .ag-body-viewport-wrapper.ag-layout-normal {
  overflow-x: scroll;
  overflow-y: scroll;
}

:host ::ng-deep .ag-header-container {
  position: sticky;
  top: 0;
}

:host ::ng-deep input[ref="eInput"] {
  color: #6e59c2 !important;
}
